alias c='printf "\033c"'

function cdg() {
    cd ~/Workspace/go/src
}

function cdw() {
    cd ~/Workspace/$@
}

function cheat() {
    less ~/.cheatsheets/$@
}

alias cddwn='cd ~/Downloads'
alias fr='g fr'
alias g='git'
alias hub='git'
alias l='less'
alias ls='ls -al'

function mcd() {
    mkdir -p "$1";
    cd "$1"
}

alias push='g p'

function rlg() {
  if [ -x bin/rails ]; then
    bin/rails generate $@
  else
    bundle exec rails generate $@
  fi
}

function rmrf() {
    rm -rf "$@";
}

alias view='vi -R'

