[color]
    ui = true

[core]
    excludesfile = ~/.gitignore
    editor = emacs
    autocrlf = false
    safecrlf = true

[push]
    default=simple

[user]
    name = Stuart King
    email = stuartrexking@gmail.com

