[color]
    ui = true

[core]
    excludesfile = ~/.gitignore
    editor = emacs
    autocrlf = false
    safecrlf = true

[push]
    default=simple

[user]
    name = Stuart King
    email = stuartrexking@gmail.com

[alias]
    lo = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'