function cdg() {
    cd ~/Workspace/go/src
}

alias cddwn='cd ~/Downloads'
alias cdw='cd ~/Workspace'

alias gac='git add -A;git ci -m '
alias gfr='git fetch -a;git rebase'
alias gs='git stash'
alias gsa='git stash apply'
alias gps='git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)'

alias hub='git'

alias l='less'

function mcd() {
    mkdir -p "$1";
    cd "$1"
}

function rmrf() {
    rm -rf "$1";
}

alias view='vi -R'

